body {
  font-family: Roboto;
  color: rgba(33, 33, 33, 1);
}
.top-line {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.background-pic {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/background-pic.jpg");

}
.background-one {
  background-color: #2f303a;
}
.background-two {
  background-color: #e5e5e5;
}
.our-team {
  background-color: #f5f4fa;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h4,
p,
ul {
  margin: 0;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
}
.work,
.about {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.about {
  padding-top: 94px;
}
.logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  font-family: Raleway;
}
.top {
  margin-right: 93px;
}
.web {
  color: #2196f3;
}
.top {
  color: #212121;
}
 .bottom {
  color: #ffffff;
  display: block;
  padding-top: 60px;

}

.nav-section a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
}
.nav-section a:hover,
.nav-section a:focus {
  color: #2196f3;
}
.contact-section a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #757575;
}
.contact-section a:hover,
.contact-section a:focus {
  color: #2196f3;
}

.text-section h4 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 10px;
}
.text-section p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #757575;
  margin-bottom: 94px;
}
.text-section {
  display: flex;
  gap: 30px;
  padding: 0;
}

.about-section h4 {
  font-weight: 500;
  line-height: 1.2;
}
.about-section p {
  font-weight: 400;
  line-height: 1.2;
  color: #757575;
}
.about-section {
  display: flex;
  gap: 30px;
}
.about-section-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: #ffffff;
display: block;
margin-bottom: 94px

}
.about-section-item-text {
  width: 270px;
  
  text-align: center;
  padding-top:30px;
  
}
.about-section-item .about-section-item-name {
  padding-bottom: 10px;
}
 p.about-section-item-occupation {
  padding-bottom: 30px;
}
.footer-text a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer-text a:hover,
.footer-text a:focus {
  color: #2196f3;
}
.footer-text {
  display:flex;
  flex-direction:column;
}
.footer-mail {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer-tel {
  padding-bottom: 60px;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  padding-top: 20px;
}
.portfolio-list h4 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}
.portfolio-list p {
  line-height: 1.9;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.item:nth-child(n+7) {
  margin-bottom: 94px;
}
.button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  letter-spacing: 0.06em;
  border: 0 solid #2196f3;
}

.buttons button {
  background-color: rgba(245, 244, 250, 1);
  font-family: Roboto;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  border-radius: 4px;
  height: 38px;
  border-width: 0;
  border-color: rgba(245, 244, 250, 1);
  color: rgba(33, 33, 33, 1);
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}
.buttons button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
}

.buttons button:hover {
  background-color: #2196f3;
}
.container {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.work-list {
  display: flex;
  padding-bottom: 94px;
  gap: 30px;
}
.headline {
  display: flex;
  flex-direction: column;
}
.menu {
  padding: 0;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 46px;
}
.button-one {
  width: 121px;
}
.button-two {
  width: 93px;
}
.button-three {
  width: 114px;
}
.button-four {
  width: 91px;
}
.button-five {
  width: 121px;
}
.header .container {
  display: flex;
  align-items: center;
}
.mail {
  margin-right: 50px;
  margin-left: 371px;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.item {
  display: block;
  width: 370px;
  background-color: #ffffff;
}
.item-text {
 display: block;
 
  padding-right: 24px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background-color: #ffffff;
}
.item-caption {
  padding-top: 4px;

}
img {
  display: block;
}
.contact-section-mail-icon {
  fill:#757575;
  
}